<h1>Category: <%= @categories.name %></h1>
<h2> There are <%= @categories.count %> articles that use this category. </h2>
<ul>
  <% @categories.each do |category| %>
  <%= render :partial => "article", :collection => category.articles %>
  <%end %>
</ul>